.swiper-button-next,
.swiper-button-prev {
	color: #8748ff !important;
}

.swiper-pagination-bullet {
	background: #8748ff !important;
	opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
	opacity: 1 !important;
}
