@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

/* Кастомні стилі для Swiper */
.swiper-slide {
	height: auto !important;
}

.swiper-button-next,
.swiper-button-prev {
	color: #8748ff !important; /* customViolet */
}

.swiper-pagination-bullet {
	background: #8748ff !important; /* customViolet */
	opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
	opacity: 1 !important;
}

.chakra-select {
	border: none !important;
	height: auto !important;
}

@keyframes wiggle {
	0% {
		transform: rotate(-15deg);
	}
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	75% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.animate-wiggle {
	animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wave {
	0% {
		d: path(
			"M1356.7 -85.7992H71.5871C-6.72164 -85.7992 -71.3853 -24.6144 -75.7115 53.5747L-77.0527 77.8137C-83.3133 190.965 43.6422 261.515 136.422 196.443C174.457 169.767 223.494 164.395 266.403 182.206L328.52 207.99C388.912 233.058 456.567 234.271 517.818 211.383L567.501 192.818C655.263 160.024 751.859 159.692 839.845 191.882L893.635 211.562C955.768 234.293 1024.3 231.994 1084.77 205.15L1131.29 184.499C1177.24 164.099 1230.21 167.103 1273.57 192.566L1279.97 196.329C1378.43 254.156 1503.04 186.42 1508.05 72.349C1511.84 -13.8475 1442.98 -85.7992 1356.7 -85.7992Z"
		);
	}
	50% {
		d: path(
			"M1356.7 -85.7992H71.5871C-6.72164 -85.7992 -71.3853 -24.6144 -75.7115 53.5747L-77.0527 77.8137C-83.3133 190.965 43.6422 261.515 136.422 226.443C174.457 199.767 223.494 194.395 266.403 212.206L328.52 237.99C388.912 263.058 456.567 264.271 517.818 241.383L567.501 222.818C655.263 190.024 751.859 189.692 839.845 221.882L893.635 241.562C955.768 264.293 1024.3 261.994 1084.77 235.15L1131.29 214.499C1177.24 194.099 1230.21 197.103 1273.57 222.566L1279.97 226.329C1378.43 284.156 1503.04 216.42 1508.05 102.349C1511.84 16.1525 1442.98 -85.7992 1356.7 -85.7992Z"
		);
	}
	100% {
		d: path(
			"M1356.7 -85.7992H71.5871C-6.72164 -85.7992 -71.3853 -24.6144 -75.7115 53.5747L-77.0527 77.8137C-83.3133 190.965 43.6422 261.515 136.422 196.443C174.457 169.767 223.494 164.395 266.403 182.206L328.52 207.99C388.912 233.058 456.567 234.271 517.818 211.383L567.501 192.818C655.263 160.024 751.859 159.692 839.845 191.882L893.635 211.562C955.768 234.293 1024.3 231.994 1084.77 205.15L1131.29 184.499C1177.24 164.099 1230.21 167.103 1273.57 192.566L1279.97 196.329C1378.43 254.156 1503.04 186.42 1508.05 72.349C1511.84 -13.8475 1442.98 -85.7992 1356.7 -85.7992Z"
		);
	}
}

@keyframes flow {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-50px);
	}
	100% {
		transform: translateX(0);
	}
}

.wave-path {
	animation: wave 10s infinite linear, flow 20s infinite linear;
}
